@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "_media", "_variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

.container {
  max-width: 1134px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="section-"] {
  margin: 80px auto;
}

.flex {
  display: flex;
}

header {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  margin-top: 13px;
  margin-bottom: 12px;
}

.navigation {
  flex-wrap: nowrap;
  text-align: center;
  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  li {
    line-height: 28px;
    list-style: none;
    padding: 4px 15px;
  }
  a {
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #2c2d2e;
    &:hover {
      color: #ef7c00;
    }
  }
  .menu > li {
    border-right: 1px solid rgba(0, 16, 61, 0.12);
  }

  .menu li:last-child {
    border-right: none;
  }

  .submenu {
    background-color: #ffffff82;
    border-radius: 10px;
    border: 1px solid #ffffff00;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: auto;
    visibility: hidden;
    z-index: 10;
    opacity: 0;
    padding-top: 40px;
    margin-left: -35px;
  }

  .submenu li {
    &:nth-child(1) {
      background: linear-gradient(rgb(187 187 187 / 19%), white);
    }
    line-height: 35px;
    padding: 5px 35px;
    text-align: left;
    position: relative;
    display: block;
    background-color: #fff;
  }

  li:hover > .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    border-radius: 5px;
  }
}

.language-switch {
  display: flex;
  a {
    font-size: 13px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: #2c2d2e;
    padding: 0 5px;
    &:hover {
      color: #ef7c00;
    }
  }
}

.language-switch > div {
  border-right: 1px solid rgba(0, 16, 61, 0.12);
}

.language-switch div:last-child {
  border-right: none;
}

.section-1 {
  color: rgba(44, 45, 46, 1);
  box-shadow: inset 0px 30px 80px 0px rgb(0 0 0 / 62%);
  .slider {
    margin: 0 auto;
    width: 1366px;
    height: 527px;
  }

  .slick-slide img {
    margin: 0 auto;
  }

  .slider-text-block {
    display: flex;
    flex-direction: column;
    padding: 139px 116px;
    width: 59.6%;
    row-gap: 30px;
  }

  .slider-1 {
    background-image: url(images/slider1.png);
    background-repeat: no-repeat;
  }

  .slider-2,
  .slider-3 {
    height: 527px;
    text-align: center;
    font-size: 300px;
    padding-top: 50px;
    color: rgba(0, 16, 61, 0.12);
    background-color: #f3f7fa;
  }

  .slider-button-fix {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(239, 124, 0, 1) !important;
    border-radius: 50%;
  }

  .slick-dots-fix {
    display: block;
    position: relative;
    top: -175px;
    left: -530px;
  }
  .slick-dots-fix li button:before {
    content: "" !important;
    border: 1px solid rgba(239, 124, 0, 1) !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
  }
  .slick-dots-fix :hover button {
    background: rgba(239, 124, 0, 1);
  }

  .slick-active button {
    background: rgba(239, 124, 0, 1);
  }

  #slick-slide-control10 {
    display: none;
  }

  .slick-dots li {
    cursor: default;
  }

  .slick-dots li.slick-active button:before {
    display: none;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 10px 0;
  }

  .slick-dots-fix li > button {
    width: 10px;
    height: 10px;
  }

  .slick-slide img {
    display: block;
  }

  h2 {
    margin: 0;
    text-align: left;
    font-style: bold;
    font-size: 32px;
    line-height: 40px;
    line-height: 103%;
  }
  p {
    margin: 0;
  }
  button {
    background-color: #ef7c00;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ef7c00;
    display: block;
    a {
      text-decoration: none;
      color: #fff;
    }
    &:hover {
      color: #ef7c00;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ef7c00;
      cursor: pointer;
      a {
        color: #ef7c00;
      }
    }
  }
}

.slider-text-block {
  position: relative;
}

.social {
  position: relative;
  top: -309px;
  left: 1277px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  a {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .twitter {
    background-image: url(images/tw2.png);
    background-size: cover;
    &:hover {
      background-image: url(images/tw1.png);
    }
  }

  .facebook {
    background-image: url(images/fb2.png);
    background-size: cover;
    &:hover {
      background-image: url(images/fb1.png);
    }
  }

  .linkedin {
    background-image: url(images/lin2.png);
    background-size: cover;
    &:hover {
      background-image: url(images/lin1.png);
    }
  }
}

.section-2 {
  h2 {
    margin-top: 0;
  }
  z-index: 100;
  .row {
    display: flex;
    column-gap: 30px;
  }

  .video {
    width: 50%;
    height: 300px;
    padding-top: 114px;
    background-image: url(images/video.png);
    background-size: cover;
    background-repeat: no-repeat;
    a {
      margin-left: 239px;
      display: inline-block;
    }
  }
  .text-about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #2c2d2e;
      margin: 0 auto;
    }
  }
}
.slider2 {
  .slick-arrow {
    top: 140px;
  }
  .slick-dots {
    bottom: -10px;
  }
}
.slider2,
.slider3 {
  .slick-slide img {
    display: block;
  }

  .slick-arrow {
    background-color: #ef7c00;
  }
  .slick-prev:before {
    content: url(images/arr-r-l.png) !important;
  }
  .slick-next:before {
    content: url(images/arr-l-l.png) !important;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: unset;
    width: unset;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
  }
  .slick-prev {
    left: -65px;
  }
  .slick-next {
    right: -40px;
  }
}

.slider2 {
  .slider-button {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(239, 124, 0, 1) !important;
    border-radius: 50%;
  }

  .slick-dots {
    display: block;
    position: relative;
  }
  .slick-dots li button:before {
    content: "" !important;
    border: 1px solid rgba(239, 124, 0, 1) !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
  }
  .slick-dots :hover button {
    background: rgba(239, 124, 0, 1);
  }

  .slick-active button {
    background: rgba(239, 124, 0, 1);
    border: 1px solid rgba(239, 124, 0, 1) !important;
    border-radius: 50%;
  }
  .slick-dots li {
    cursor: default;
  }

  .slick-dots li {
    width: 10px !important;
    height: 10px !important;
    margin: 0 10px 0;
  }

  .slick-dots li > button {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid rgba(239, 124, 0, 1) !important;
    border-radius: 50%;
  }
}

.slider-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 35px;
  margin-bottom: 45px;
  padding: 0;
  .active {
    color: #fff !important;
    background-color: #ef7c00;
    border: 1px solid #ef7c00 !important;
  }
  .slider-dots__item {
    display: inline-block;
    border: 1px solid #bfc1c7;
    border-radius: 50px;
    line-height: 15px;
    font-size: 13px;
    height: 38px;
    padding: 10px 20px;
    color: #ef7c00;
    &:hover {
      color: #fff;
      background-color: #ef7c00;
      border: 1px solid #ef7c00 !important;
      cursor: pointer;
    }
  }
}

.section-3,
.section-4 {
  h2 {
    margin-top: 100px;
  }
}

.section-4,
.section-6,
.section-7 {
  .button {
    color: #ef7c00;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ef7c00;
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
    margin: 40px auto;
    &:hover {
      background-color: #ef7c00;
      color: #fff;
      border: 1px solid #ef7c00;
      cursor: pointer;
    }
  }
}

.info {
  form {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    .info-input {
      display: flex;
      left: 492px;
      column-gap: 10px;
      span:nth-child(2) {
        left: 216px;
      }
    }
    span {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-right: 1px solid rgba(0, 16, 61, 0.12);
      img {
        position: relative;
        top: 2px;
        left: 1px;
      }
    }
  }
  margin-top: 80px;
  height: 376px;
  padding: 40px;
  border: 1px solid #fff0;
  border-radius: 10px;
  background-image: url(images/form_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgb(100 100 111 / 20%) 0px 3px 20px 5px;
  h2 {
    text-align: left;
    margin: 0;
  }
  button {
    background-color: #ef7c00;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #ef7c00;
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
    &:hover {
      color: #ef7c00;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ef7c00;
      cursor: pointer;
    }
  }
  input,
  textarea {
    padding: 10px;
    outline: none;
    border: 1px solid rgba(0, 16, 61, 0.12);
    border-radius: 4px;
    font-family: "Montserrat";
    color: rgb(0, 16, 61);
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    caret-color: #ef7c00;
    &::placeholder {
      line-height: 20px;
      font-family: "Montserrat";
      font-weight: 200;
      font-size: 15px;
    }
  }
  textarea {
    width: 446px;
    height: 80px;
  }
  input {
    width: 218px;
    height: 40px;
    padding-left: 50px;
  }
  p {
    display: inline-block;
    max-width: 50%;
  }
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .team-text {
    h3,
    p {
      margin: 0;
      text-align: center;
      color: rgba(44, 45, 46, 1);
      width: 203px;
    }
    p {
      padding: 7px 0;
      font-size: 13px;
      line-height: 13px;
      font-weight: 200;
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        font-weight: 400;
        padding: 2px 0;
      }
      &:nth-child(5) {
        padding-top: 7px;
      }
      &:nth-child(2) {
        padding-bottom: 15px;
      }
    }
    h3 {
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      padding-top: 15px;
    }
  }
  [class*="team-photo-"] {
    display: block;
    width: 203px;
    height: 203px;
    border-radius: 120px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .team-photo-1 {
    background-image: url(images/com1.png);
  }
  .team-photo-2 {
    background-image: url(images/com2.png);
  }
  .team-photo-3 {
    background-image: url(images/com3.png);
  }
  .team-photo-4 {
    background-image: url(images/com4.png);
  }
  .team-photo-5 {
    background-image: url(images/com5.png);
  }
}

.news {
  display: flex;
  column-gap: 30px;
  [class*="news-photo-"] {
    background-repeat: no-repeat;
    background-size: cover;
    a {
      display: block;
      width: 319px;
      height: 203px;
    }
  }
  .news-photo-1 {
    background-image: url(images/news1.png);
  }
  .news-photo-2 {
    background-image: url(images/news2.png);
  }
  .news-photo-3 {
    background-image: url(images/news3.png);
  }
  .news-text {
    padding: 15px 0;
    a {
      display: block;
      text-decoration: none;
      p {
        color: rgba(145, 147, 153, 1);
        font-size: 13px;
        line-height: 13px;
        font-weight: 400;
      }
      h3 {
        color: rgba(44, 45, 46, 1);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      p,
      h3 {
        margin: 10px 0;
      }
    }
  }
}

.section-7 {
  margin-bottom: 0;
}

.section-8 {
  margin: 0 auto;
  font-style: normal;
  width: 1366px;
  background-color: rgba(0, 16, 61, 0.06);
  h2 {
    padding: 40px 0;
    font-style: normal;
    margin: 0;
  }
  .flexbox {
    display: flex;
    h3 {
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 24px !important;
      color: rgba(44, 45, 46, 1) !important;
    }
    div > div {
      max-width: 288px;
      padding: 0 14px;
      :nth-child(1) {
        font-size: 13px;
        line-height: 13px;
        color: rgba(145, 147, 153, 1);
        margin: 10px 0;
      }
      :nth-child(2),
      :nth-child(3) {
        color: rgba(44, 45, 46, 1);
        font-size: 15px;
        line-height: 20px;
        margin: 5px 0;
      }
    }
    :last-child {
      border: none;
    }
  }
  .address-text {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(191, 193, 199, 1);
    margin-bottom: 40px;
  }
  .map {
    width: 100%;
  }
}

footer {
  margin: 0 auto;
  max-width: 1366px;
  height: 403px;
  background-color: rgba(0, 16, 61, 0.06);
  .footer-logo {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(145, 147, 153, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .position {
      position: relative;
      left: 7px;
    }
    .footer-social {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: flex-end;
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
      }
      .twitter {
        background-image: url(images/tw2.png);
        background-size: cover;
        &:hover {
          background-image: url(images/tw1.png);
        }
      }
      .facebook {
        background-image: url(images/fb2.png);
        background-size: cover;
        &:hover {
          background-image: url(images/fb1.png);
        }
      }
      .linkedin {
        background-image: url(images/lin2.png);
        background-size: cover;
        &:hover {
          background-image: url(images/lin1.png);
        }
      }
    }
  }
  .flexbox {
    display: flex;
    column-gap: 30px;
    .footer-info {
      width: 203px;
      font-family: "Montserrat";
      h2 {
        font-weight: 600;
        font-size: 24px;
        text-align: left;
        line-height: 24px;
        letter-spacing: 1.2px;
        color: rgba(44, 45, 46, 1);
      }
      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        text-decoration: none;
        color: rgb(44, 45, 46);
        letter-spacing: 0.4px;
        &:hover {
          color: #ef7c00;
        }
      }
      h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(239, 124, 0, 1);
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(44, 45, 46);
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
  .copyright {
    position: relative;
    top: 20px;
    color: rgba(145, 147, 153, 1);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.button-top {
  width: 68px;
  height: 68px;
  display: inline-block;
  z-index: 100;
  position: fixed;
  left: calc(100% - 100px);
  bottom: 100px;
  background-image: url(images/arrow-top.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: rgb(100 100 111 / 20%) 0px 0px 20px 5px;
  &:hover {
    background-color: #ef7c00;
    background-image: url(images/arrow-top-white.png);
  }
}
.btn-up_hide {
  display: none;
}
